/*#full-screen {
    background: url("../img/trains.jpg");
    opacity: 0.5;
    width: 100%;
    height: 800px;
} */

@font-face {
    font-family: "MyTrainFont";
    src: url("../fonts/Toy Train.ttf") format("truetype");
}

.customfont {
    font-family: "MyTrainFont", Verdana, Geneva, Tahoma, sans-serif;
}
.tc-jumbotron {
        padding-top: 10px 0 0 0; 
        background-color: blue;
        color: white;
    }

/* .tc-text-center {
        margin-top: -20px;
    } 
*/

.big {
    font-size: 1.5em;
}
#version {
        text-align: right;
        font-size: .5sem;
    }
   