
@font-face {
    font-family: "MyTrainFont";
    src: url("../fonts/Toy Train.ttf") format("truetype");
}

.custom-font {
    font-family: "MyTrainFont", Verdana, Geneva, Tahoma, sans-serif;
}

.standard-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tc-jumbotron {
        padding-top: 10px 0 0 0; 
        background-color: blue;
        color: white;
    }

.big {
    font-size: 1.5em;
}

#version {
        text-align: right;
        font-size: .5sem;
    }
   